/*------GENERAL----------*/
body{

	/*font-family: 'Courier Prime', monospace;
	font-family: 'Lato', sans-serif;*/
	font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 2vw;
}
ul{
	list-style-type: none;
	display: flex;
	margin: 4vw;
	font-size: 3.5vw;
}
.imag-prin {
	padding-left: 4vw;
	width: 21%;
}
.imag-prin img{
	width: 100%;
}
.header__inicio{
	position: fixed;
	align-items: center;
    background: white;
    border-bottom: 3.5px solid;
    display: flex;
    height: 16vh;
    justify-content: space-between;
    font-size: 1.8vw;
    z-index: 1;
}
.header__a{
	text-decoration: none;
	color: black;
	padding-right: 2vw;
	transition: .2s all;
		
}
.header__a:hover{
	color: #217808;
	font-size: 2.4vw;
}
.navegador{
	padding: 0 15vw;

} 
.footer{
	margin-top: 2vw;
	padding: 3vw;
	background: #02080A;
	

}
.footer .pie-p {
	color: white;
	text-align: center;
	font-size: 3vw;
}
.footer .pie-sy p{
	color: #C7E4EE;
	padding-top: 2vw;
	font-size: 3vw;
	
}
#img-foot{
    width:100%;
    display: grid;
    grid-template-columns: 6vw 6vw;
    column-gap: 3vw;
    padding-top: 1vw;
}  
#inf-foot{
	display: grid;
	grid-template-columns: 60vw 7vw;
	column-gap: 20vw;
}
#img-correo img{
	border-radius: 5px;

	width: 100%;
}
#img-correo img:hover{
	background:  #9999cc;
}
#img-correo{
	padding-top: 2vh; 
}
#img-whatsapp img{
	border-radius: 1vw;

	width: 90%;
}
#img-whatsapp img:hover{
	background: #25d366;
}
#img-whatsapp{
	padding-top: 1vh;
}
@media only screen and (max-width : 900px) 
	{
		body{
			overflow: hidden;
		}
		.imag-prin{
	      	width:38%;
	  	} 
		.header__inicio{
	        font-size:3vw;
	        height:17vh;	
	        flex-direction: column;	 
	        width: 100%;
	     }
		.herader__a{
	      	color: #217808;  }
		.header__a:hover{
	     	color:black;
	     	font-size:3.3vw;}
		#img-foot{
	     	column-gap:10vw; 
	     	padding-top:0;
	     }
 		#inf-foot{
	     	column-gap:10vw;
	     	grid-template-columns: 55vw 7vw;}
 		#img-correo{
	     padding-top:1vh;}
	    #img-whatsapp{
	      padding-top:1.5vw;}
	}





/*-----------INDEX-------------*/
.inf_prin{
	padding-top: 15vw;
	margin:0 0vw;
}
.inf_prin a{
	text-decoration: none;
	color: white;
}
.inf_prin__h1{
	text-align: center;
	padding: 2vw;	
	color: white;
	background: #0F5D80;
}

.inf_prin__h2{
	padding: 3vw;
	font-size: 2vw;
}

.div-principal{
	
	position: static;
	
	font-size: 2vw;
	
}
.div-principal__h2{
	font-size: 3vw;
	padding: 3vw;
	margin: 3vw;
	display: inline-block;
	background: black;
	color:white;

}
.div-principal-2{

	background: #071A3D;
	display: flex;
	border-radius: 1em;
	margin: 2vw;
	flex-direction: column;
}
.div-principal-2 a{
	font-size: 10vw;
	color: white;


}
.div-ofr img{
	width: 100%;
	border-radius: 30px;
	box-shadow: 3px 3px 20px black;
	margin-left: 2vw;

}
.div-ofr {
	display: grid;
	grid-template-columns: 35vw 60vw;
	align-content: center;
	column-gap: 3vw;
	row-gap: 2vw;
	padding-top: 1em;
}

.div-ofr__h2 a{
	font-size: 4vw;
	color: white;
	margin-top: 2vw;
	transition: .3s all;

}
.div-ofr__h2 h2:hover{
	font-size: 4.2;
	border-radius: 1.5vw;
	background: #217808;
}
.div-ofr__h2 {

	margin: 4vh 6vw;
}
.div-ofr__h2 h2 {
	display: flex;
	justify-items: center;
	justify-content:center;
	text-align: center;
	width: 100%;
}
.div-img {
	padding-bottom:2vw ;
	width: 100%;
}
.inf-fn{	

	margin: 2vw;
	
}
.inf-fn b{
	font-family: 'Courier Prime', monospace;
	font-size: 1.7vw;
}

/*#vermas {
	font-size: 2vw;
	text-decoration: none;
	background: green;
	border-radius: 1em;
	transition:.5s all;
}*/
/*
#vermas:hover{
	font-size: 3vw;
	box-shadow: .5em .5em 1em ;
	top: -12vh;
	left: 66vw;
}*/
#parr-fin{
    font-size:3vw;
    text-aling:justify;
}
@media only screen and (max-width : 900px) 
{ 
    .inf_prin__h1{
	      font-size:4vw;
	      margin-top:3vh;
	    }
/*	#vermas{
	  font-size:5vw;
	  top:-5vh;
	  left:60vw;}
  	#vermas:hover{
	  font-size:5vw;
	  top:-5vh;
	  left:60vw;}*/
}











/*-----------ESPECIALIDADES---------------*/
.inf_prin-espe{
	padding-top: 20vh;
	display: grid;
	row-gap: 5vw;
	margin: 0 4vw;
}
@media only screen and (max-width : 900px) 
{
	     
}
#parr-ini{
	font-size: 2vw;
	text-align: justify;
	margin-rigth:vw;
}
@media only screen and (max-width : 900px) 
{
 
}
#inf_prin-espe-fondo{
	margin: vw;
	margin-bottom: 3vw;
}
@media only screen and (max-width : 900px) 
{ 
 
}	
.div-ofr-espe__h2{
	display: grid;
	font-size: 2.4vw;
	padding-bottom: 1vh;
	justify-content: left;
}
@media only screen and (max-width : 900px) 
{ 

}	
.div-ofr-espe__h2 h2{
	width: 100%;
	padding: 5vh;
	border-radius: 10px;
	background: #a1d662;
}
.inf_prin-espe img{
	width: 35%;

}
.div-ofr-espe-img{
	padding-right: 2vw;
}

.div-ofr-espe{
	display: grid;
	width: 90%;
	padding:2vw;	
}
@media only screen and (max-width : 900px) 
{
 
}	
.div-ofr-espe ul{
	position: relative;
	margin: 7vw;
	left: 6vw;
}
.div-ofr-espe__inf{
	padding: 2vh;
	font-size: 2.3vw;
	background: #EEF9EB;
	border:0.8vw solid #9999cc;
	border-radius: 1vw;
	text-align: justify;
}	
.div-ofr-espe img{
	float: left;
}

#grupo1{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
}

#grupo1 img{
	width: 100%;
}

#ins-cod1{
	bottom: -5vw;
	position: relative;
}
#ins-cod2{
	position: relative;
	left: 42vw;
}

#ban-port{
	display: grid;
	grid-template-columns: 25vw 25vw;
}
#ban-port img{
	width: 100%;
}
#div-ofr-espe4 img{
	margin-top: 1vh;
	margin-bottom: 1vh;

}
#man-sise-pr{
	padding-left: 7vw;
}
#man-sise{
	padding-top: 2vh;
	padding-left: 3vw;

}
#man-sise1{
	display: grid;
	grid-template-columns: 40vw 40vw;
}
#man-sise1-1{
	width: 80%;
	padding-top: 13vh;
	padding-left: 4vw;	
}
#man-sise1-2{
	width: 70%;
}
#p-man-1{
	display: inline-block;
	padding: .5vw;
	position: relative;
	background: #a1d662;
	right: -12vw;
	bottom: vh;
}
#p-man-2{
	display: inline-block;
	position: relative;
	background: #a1d662;
	padding: .5vw;
	right: -40vw;
}
#est-lumin{
	display: grid;
	grid-template-columns: 40vw 40vw;	
}
#est-lumin img{
	width: 100%;
}
#inst-sisi{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
	align-items: center;
}
#inst-sisi img{
	width: 100%;
}
#armad-tabl{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
	align-items: center;
}
#armad-tabl img{
	width: 100%;
}
#puest-t{
	display: grid;
	grid-template-columns: 40vw 40vw;
	padding-left: 2vw;
	padding-bottom: 4vh;
	align-items: end;
}
#puest-t img{
	width: 100%;
}
#cab-estr{
	display: grid;
	padding-left: 10vw;
	padding-top: 2vh;
	padding-bottom: 4vh;
	grid-template-columns: 40vw 40vw;
}
#cab-estr img{
	width: 80%;
}
@media only screen and (max-width : 900px) 
{ 
	.inf_prin-espe{
	  padding-top: 15vh; 
	  }
 	#parr-ini{
	  padding-rigth: 5vw;      
	  width:90%;
	  font-size:3vw;
	 }
  	#inf_prin-espe-fondo{
	      width:95%;
	  }
	.div-ofr-espe__h2{
	  width:90%;}
	.div-ofr-espe{
	  width:90%;
	  }
	.div-ofr-espe__inf{
	    font-size: 2.8vw;
	
	  }
 	#grupo1{
	  grid-template-columns: 28vw 28vw 28vw;}
 	#man-sise1-1{
	    padding-top: 3vh;}
	#inst-sisi{
	   grid-template-columns:28vw 28vw 28vw;}
 	#armad-tabl{
	   grid-template-columns:28vw 28vw 28vw;
	  }
    #div-ofr__inf1{

	    width:100%;
	 }
	 #div-ofr__inf2{
	      width:100%;
    }

    #div-ofr__inf3{ 
    	  width:100%;	
    }
    #div-ofr__inf4{ 
	      width:100%;
    }
    #div-ofr__inf6{  
	      width:100%;	
    }
    #div-ofr__inf7{ 
	      width:100%;	
    }
    #div-ofr__inf8{ 
	      width:100%;	
    }
    #div-ofr__inf9{  
	      width:100%;	
    }
    #div-ofr__inf10{ 
	      width:100%;
    }
    #div-ofr__inf11{
	      width:100%;	
    }
}	














/*-----------CONTACTOS------------*/
#prin-contact{
    padding-top:20vh;
    margin: 0 4vw;
    font-size: 2vw;
}
#prin-contact a{
	text-decoration: none;
	color: white;

}
.prin-contact-numeros{

	width: 80%;
	border-radius: 7vw;
	background: #25d366;
	margin: 2vw;
	transition:background .2s, color .2s,  width .2s,box-shadow .2s;
}
.prin-contact-numeros:hover{
	background: black;
	color: white;
	width: 85%;
	box-shadow: 0.5vw .5vw 3vw #25d366;
}

.prin-contact-numeros img{
	width: 60%;
	margin-left: 5vw;
	margin-top: 2vh;

}
.prin-contact-numeros p{
	margin-left:6vw ;
}
#prin-contact-correo{
	display: inline-block;
	background: black;
	justify-content: center;
	margin: 3vw;
	border-radius: 2vw ;
	width: 65%;
	transition: background .2s, box-shadow .4s;
}
#prin-contact-correo:hover{

	background: #9999cc;
	box-shadow: 2vw 2vw 3vw;

}
#correo-1 {
	margin:1vw ;
	align-content: center;
	width: 100%;
}
#whatsapp-prin{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
}
#prin-contact-correo a{
	display: grid;
	grid-template-columns: 20vw 37vw;
	grid-gap: 2vw;
}	
#prin-contact-correo a p{
	margin-top: 10vh;
	font-size: 3vw;
}
@media only screen and (max-width : 900px) 
{ 
	#foot-contact{
	  position: relative; 
   bottom:-80vw;
	}
	#prin-contact-correo{
	    width:100%;
	    margin:0;}
	#prin-contact-correo a{
	  grid-template-columns: 40vw 40vw;
	  column-gap:4vw;}
	#prin-contact-correo a p{
	    width:100%;
	    }
}
