/*------GENERAL----------*/
body{

	/*font-family: 'Courier Prime', monospace;
	font-family: 'Lato', sans-serif;*/
	font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 2vw;

}
header{
	width: 100%;
	position: sticky;
	top: 0px;
	box-sizing: border-box;
	z-index: 100;

}

.nav-menu{
	list-style-type: none;
	display: flex;
	margin: 4vw;
	text-align: right;
}
.imag-prin {	
	width:40%;
	margin-left: 3vw;
}
.imag-prin img{
	width: 80%;
}
.header__inicio{
	
	align-items:center ;
    background: white;
    border-bottom: 3.5px solid;
    display: flex;
    height: 20vh;
    justify-content: space-between;
    z-index: 100;
}
.header__a{
	text-decoration: none;
	color: black;
	padding-right: 2vw;
	transition: .2s all;
	font-size:2.5vw;
	z-index: 0;
}
.header__a:hover{
	color: #217808;
	font-size: 2.8vw;
}

.footer{
	margin-top: 2vw;
	padding: 3vw;
	background: #02080A;
	

}
.menu{
	box-sizing: border-box;
	display: none;
	cursor: pointer;
	position: absolute ;
	width: 8vw;
	top: 30%;
	right: 1em;
	padding: 2vw;
	transition:transform .7s;

}
.footer .pie-p {
	color: white;
	text-align: center;
	font-size: 3vw;
}
.footer .pie-sy p{
	color: #C7E4EE;
	padding-top: 2vw;
	font-size: 3vw;
	
}
#img-foot{
    width:100%;
    display: grid;
    grid-template-columns: 6vw 6vw;
    column-gap: 3vw;
    padding-top: 1vw;
}  
#inf-foot{
	display: grid;
	grid-template-columns: 60vw 7vw;
	column-gap: 20vw;
}
#img-correo img{
	border-radius: 5px;

	width: 100%;
}
#img-correo img:hover{
	background:  #9999cc;
}
#img-correo{
	padding-top: 2vh; 
}
#img-whatsapp img{
	border-radius: 1vw;

	width: 90%;
}
#img-whatsapp img:hover{
	background: #25d366;
}
#img-whatsapp{
	padding-top: 1vh;
}
.menu:hover{
	transform:rotate(360deg) ;
	border-radius: 10px;
}

@media only screen and (max-width : 650px) 
	{

		.header__inicio{
			height: 15vh;
			z-index: 10;
		}
		.div-menu{
			transform: translateY(-100%);
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			width: 100%;
			height: 115vh;
			background:grey;
			align-items: center;
			transition: transform .5s;
			z-index: -10;
		}	
		.nav-menu{
			position: absolute;
			top:25vh;
			left: 0;
			right: 0;
			align-items: center;
			text-align: center;
			flex-direction: column;
			margin: 0;
			z-index: 0;
		}
		.nav-menu li{
			margin-bottom: 6em;
			padding: 1em;
		}
		.menu{
			display: block;
		}
		.imag-prin{
			width:60%;
		}
	     .header__a:hover{
			color: #000;
			font-size: 7vw;
		}
	    .nav-menu li:hover{
	     	background-color: grey;
	     	width: 100%;
	    }
		.header__inicio__nav a{
	      	color: #000;
	      	font-size: 4.5vw; 	 
		}
		#img-foot{
	     	column-gap:10vw; 
	     	padding-top:0;
	     }
 		#inf-foot{
	     	column-gap:10vw;
	     	grid-template-columns: 55vw 7vw;}
 		#img-correo{
	     padding-top:1vh;}
	    #img-whatsapp{
	      padding-top:1.5vw;}
	}
.div-menu--show{
	transform: translateY(0);
}



/*-----------INDEX-------------*/
.inf_prin a{
	text-decoration: none;
	color: white;
}
.inf_prin__h1{
	text-align: center;
	padding: 2vw;	
	color: white;
	background: #0F5D80;
}

.inf_prin__h2{
	padding: 3vw;
	font-size: 2vw;
}

.div-principal__h2{
	font-size: 3vw;
	padding: 3vw;
	margin: 3vw;
	display: inline-block;
	background: black;
	color:white;

}
section{
	margin: 2vw;
	padding: 0;
	background: #182d68;/*#141030*/
}
.div-section{
	background:#14103040;
	backdrop-filter: blur(0.2rem);
	margin:30px;
	background:#14103040;
	backdrop-filter: blur(0.2rem);
	margin:30px;
	padding-top: 4vh;
	padding-bottom: 4vh;
	-webkit-backdrop-filter:blur(0.2rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	row-gap: 10px;
	-webkit-backdrop-filter:blur(0.2rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	row-gap: 10px;
}

.div-ofr img{
	width: 60%;
	max-width: 100%;
	margin-top: 4vw;
}
.div-ofr{
	position: relative;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 60%;
	background-color: #141030;
	border-radius: 10vw;
	margin-bottom: 10px;
	animation: reveal linear both;
	animation-timeline: view();
	animation-range:entry 20% cover 50%;
	z-index: 100;

}
@keyframes reveal{
	from{
		opacity: 0;
		translate: 0 100px;
	}
	to{
		opacity: 1;
		translate: 0 0;
	}
}
.div-ofr__h2 a{
	text-decoration: none;
	color: white;
	font-size: 0.9rem;
	margin-bottom: 1vw;

}
.div-ofr__h2 h2:hover{
	font-size: 4.2;
	border-radius: 9px;
	background: #217808;
}
.div-ofr__h2 {
	text-align: center;
	margin: 0 20%;
}
.div-ofr__h2 h2 {
	display: flex;
	justify-items: center;
	justify-content:center;
	text-align: center;
	width: 100%;
}
.div-img {
	padding-bottom:2vw ;
	width: 100%;
}
.inf-fn{	
	text-align: center;
	margin: 2vw;
	
}
.inf-fn p{
	font-size: 3vw;
}

/*#vermas {
	font-size: 2vw;
	text-decoration: none;
	background: green;
	border-radius: 1em;
	transition:.5s all;
}*/
/*
#vermas:hover{
	font-size: 3vw;
	box-shadow: .5em .5em 1em ;
	top: -12vh;
	left: 66vw;
}*/
#parr-fin{
    font-size:3vw;
    text-aling:justify;
}
@media only screen and (max-width : 900px) 
{ 
    .inf_prin__h1{
	      font-size:4vw;
	      margin-top:3vh;
	 }
	 .div-ofr__h2 a{
		font-size: 3vw;
		color: white;
		margin: 3 0;
	}
/*	#vermas{
	  font-size:5vw;
	  top:-5vh;
	  left:60vw;}
  	#vermas:hover{
	  font-size:5vw;
	  top:-5vh;
	  left:60vw;}*/
}
/*-----------ESPECIALIDADES---------------*/
section-espe{
	margin: 0;
	padding: 0;
	overflow: auto;
	background: linear-gradient(#a8d46450,rgb(8.398, 8.5202, 7.5178,0.25));
	backdrop-filter: blur(15px);
}
.section-espe ul{
	padding-left:10vw ;
}
.img-inf img{
	width:40%;
	margin: 1vw;
}
#man-sise1{
	padding:1vw;
	background: linear-gradient(rgb(8.398, 8.5202, 7.5178,0.15),rgb(8.398, 8.5202, 7.5178,0.15));
	backdrop-filter: blur(15px);
	width:100%;
	display: grid;
	grid-template-columns:40vw 40vw;
	grid-gap:1.5vw;
	aling-content:center;
        aling-items:center;
	text-aling:center;	
}
#man-sise1 p{
	aling-content:center;
        aling-items:center;
	text-aling:center;
	padding-left:37%;
	display:inline-block;
}
#man-sise1-1{
	padding-top:60%;
}
.subTitle{
	background:  #0d0838;
	border-radius: 2vw;
	box-shadow: .5vw .5vw 3vw black;
	padding: 0.5vw;
	margin: 2vh 0;
	font-size: 3.5vw;
	text-align: left;
	color: white;
}
.img-inf{
	background: linear-gradient(rgb(8.398, 8.5202, 7.5178,0.15),rgb(8.398, 8.5202, 7.5178,0.15));
	backdrop-filter: blur(15px);
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	gap:0;
	margin: 0;
	align-items: center;
	align-content: center;
	text-align: center;
	margin-top: 2vh;

}
.div-ofr-espe{
	box-shadow: .5vw .5vw 3vw black;
	background: #a8d464;/*#a8d464.   #9ca0cc.    #38349c.    */
	border-radius: 2vw;
	margin: 5vw 6vw;
	padding: 2vw;
	color:black;
	z-index: 10;
	font-size: 4vw;
}
@media only screen and (min-width : 650px) {
	img{
		width: 30%;
	}
	.img-inf{
		background: linear-gradient(rgb(8.398, 8.5202, 7.5178,0.25),rgb(8.398, 8.5202, 7.5178,0.25));
		backdrop-filter: blur(15px);
		border-radius: 2vw;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		gap:0;
		margin: 0;
		align-items: center;
		align-content: center;
		text-align: center;
	}
	.div-ofr-espe{
		text-align: justify;
		font-size: 2.4vw;
	}
	.subTitle{
		font-size: 2vw;	
	}

} 	
/*-----------CONTACTOS------------*/
#prin-contact{
	margin: 10px;
    font-size: 2vw;

}
#prin-contact a{
	text-decoration: none;
	color: white;

}
.prin-contact-numeros{

	width: 80%;
	border-radius: 7vw;
	background: #25d366;
	margin: 2vw;
	transition:.2s all;
}
.prin-contact-numeros:hover{
	background: black;
	color: white;
	width: 85%;
	box-shadow: 0.5vw .5vw 3vw #25d366;
}

.prin-contact-numeros img{
	width: 60%;
	margin-left: 5vw;
	margin-top: 2vh;

}
.prin-contact-numeros p{
	margin-left:6vw ;
}
#prin-contact-correo{
	display: inline-block;
	background: black;
	justify-content: center;
	margin: 3vw;
	border-radius: 2vw ;
	width: 65%;
	transition: background .2s, box-shadow .4s;
}
#prin-contact-correo:hover{

	background: #9999cc;
	box-shadow: 2vw 2vw 3vw;

}
#correo-1 {
	margin:1vw ;
	align-content: center;
	width: 100%;
}
#whatsapp-prin{
	display: grid;
	grid-template-columns: 30vw 30vw 30vw;
}
#prin-contact-correo a{
	display: grid;
	grid-template-columns: 20vw 37vw;
	grid-gap: 2vw;
}	
#prin-contact-correo a p{
	margin-top: 10vh;
	font-size: 3vw;
}
@media only screen and (max-width : 900px) 
{ 
	#foot-contact{
	  position: relative; 
   bottom:-80vw;
	}
	#prin-contact-correo{
	    width:100%;
	    margin:0;}
	#prin-contact-correo a{
	  grid-template-columns: 40vw 40vw;
	  column-gap:4vw;}
	#prin-contact-correo a p{
	    width:100%;
	    }
}
